@charset "UTF-8";
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

/* Partie général */
/* variables */
/* box-shadow */
/* couleur note*/
/* couleur chic */
/* couleur delice */
/* couleur palette */
/* couleur header, footer et .btn */
/* size */
/* Variables */
/* mixins */
/* page principal*/
/* animation zoom avec le hover */
/* autres pages */
/* Mixins*/
/* header */
header {
  background-color: #569d88;
  height: 18vh;
  margin-top: 0;
  text-align: center;
  line-height: 18vh;
}
header a {
  text-decoration: none;
}
header .heading {
  margin: 0;
  color: #fdcc44;
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: -0.15rem;
}

/* Partie header */
/* footer */
footer {
  background-color: #569d88;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer a {
  text-decoration: none;
  margin: auto 1rem;
}
footer a:hover {
  animation: effet_wiggle 200ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}
footer h3 {
  font-family: "Montserrat", sans-serif;
  color: #fdcc44;
  font-size: 1.2rem;
  font-weight: 500;
}

@keyframes effet_wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Partie footer */
/* button */
.btn {
  width: 35vw;
  height: 6vh;
  line-height: 6vh;
  margin: 2.5rem auto 8rem auto;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #569d88;
}
.btn h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fdcc44;
  font-size: 1.2rem;
}

/* Bouton */
/* page principal */
.note, .chic, .delice, .palette {
  width: 80vw;
  height: 100vw;
  box-shadow: 0rem 0rem 0.5rem #b6b2b2;
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
}
.note div, .chic div, .delice div, .palette div {
  padding-top: 17vh;
}

.note {
  background-color: #fce0dc;
  font-family: "Devonshire", sans-serif;
  font-size: 2.5rem;
}
.note div {
  padding-top: 8vh;
}
.note h2 {
  color: #390a10;
  font-weight: normal;
}
.note h2 .fa-music {
  background: linear-gradient(to left, #f7906a, #f14c5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note h2 span {
  background-color: #390a10;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 1rem;
  font-weight: bold;
}

.chic {
  background-color: #fff5fe;
  font-family: "Croissant One", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}
.chic h2 {
  background: linear-gradient(to left, #915afd, #d9862a);
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic h2 span {
  background: #d9862a;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 1rem;
  font-family: serif;
  font-weight: bold;
}

.delice {
  background-color: #f9f9f9;
  font-family: "Dancing Script", sans-serif;
}
.delice h2 {
  background: linear-gradient(to right, #113de1, #0188fb);
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
}
.delice h2 span {
  background: #0188fb;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 1rem;
}

.palette {
  background-color: #fdfffd;
  font-family: "Kaushan Script", sans-serif;
  font-size: 2rem;
}
.palette h2 {
  background: linear-gradient(to left, #c0ff7f, #3a9436);
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palette h2 span {
  background: #3a9436;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 1rem;
}

.index_bloc_a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: all 1000ms;
}
.index_bloc_a:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

/* page principal */
/* la note enchantee */
.note_title__heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.note_menu {
  font-family: "Devonshire", sans-serif;
  background-color: #fce0dc;
  color: #390a10;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
}
.note_menu__article {
  width: 80vw;
  margin: auto;
}
.note_menu__article h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 3rem;
}
.note_menu__article h2 .fa-music {
  background: linear-gradient(to left, #f7906a, #f14c5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.note_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.note_menu__article div h3 {
  width: 30vw;
  text-align: center;
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  padding: 0 1rem 1rem 1rem;
}
.note_menu__article .title_and_icon {
  width: auto;
  text-align: center;
  font-family: "Devonshire", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.note_menu__article .title_and_icon .fa-music {
  background: linear-gradient(to left, #f7906a, #f14c5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.note_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.note_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.note_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.note_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.note_menu__article--title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page la note enchentee */
/* Le chic à la française */
.chic_title__heading {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.chic_menu {
  font-family: "Croissant One", sans-serif;
  background-color: #fff5fe;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
}
.chic_menu__article {
  width: 80vw;
  margin: auto;
}
.chic_menu__article h2 {
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(to left, #915afd, #d9862a);
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.chic_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.chic_menu__article div h3 {
  width: 30vw;
  text-align: center;
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  padding: 0 1rem 1rem 1rem;
}
.chic_menu__article div h3 {
  font-family: serif;
}
.chic_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.chic_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.chic_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.chic_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.chic_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.chic_menu__article .liste p {
  font-family: serif;
}
.chic_menu__article--one {
  color: #d9862a;
}
.chic_menu__article--two {
  color: #a6679a;
}
.chic_menu__article--three {
  color: #915afd;
}
.chic_menu__article--title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page le chic à la française */
/* Le delice des papilles */
.delice_title__heading {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.delice_menu {
  font-family: "Dancing Script", sans-serif;
  background-color: #eef0f0;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: lighter;
}
.delice_menu__article {
  width: 80vw;
  margin: auto;
}
.delice_menu__article h2 {
  font-size: 4rem;
  background: linear-gradient(to right, #113de1, #0188fb);
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.delice_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.delice_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.delice_menu__article div h3 {
  width: 30vw;
  text-align: center;
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  padding: 0 1rem 1rem 1rem;
}
.delice_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.delice_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.delice_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.delice_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.delice_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.delice_menu__article p {
  font-size: 1rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.delice_menu__article--title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page le délice des papilles */
/* palette du gout */
.palette_title__heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.palette_menu {
  font-family: "Kaushan Script", sans-serif;
  background-color: #fdfffd;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
}
.palette_menu__article {
  width: 80vw;
  margin: auto;
}
.palette_menu__article h2 {
  background: linear-gradient(to left, #c0ff7f, #3a9436);
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4rem;
  margin: 0rem;
}
.palette_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.palette_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.palette_menu__article div h3 {
  width: 30vw;
  text-align: center;
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  padding: 0 1rem 1rem 1rem;
}
.palette_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.palette_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.palette_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.palette_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.palette_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.palette_menu__article--title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page la palette du goût */
/* tablette */
@media screen and (min-width: 768px) {
  html, body {
    font-size: 80%;
  }

  .note_chic, .delice_palette {
    display: flex;
  }

  .note, .chic, .delice, .palette {
    width: 43vw;
    height: 60vw;
  }

  .note div {
    padding-top: 5vh;
  }

  .chic div, .delice div, .palette div {
    padding-top: 15vh;
  }

  .note_menu__article div h3 {
    width: 30%;
    padding: 0;
  }
  .note_menu__article div img {
    width: 35%;
  }
}
.btn {
  margin-bottom: 12rem;
}

/* Laptop à partir de 1440px/L */
@media screen and (min-width: 1440px) {
  html, body {
    font-size: 100%;
  }

  .note_chic, .delice_palette {
    margin-top: 3rem;
    display: flex;
    margin: 3rem auto;
    width: 70vw;
  }

  .note, .chic, .delice, .palette {
    width: 30vw;
    height: 36vw;
  }

  .note div {
    padding-top: 6vw;
  }

  .chic div {
    padding-top: 12vw;
  }

  .delice div {
    padding-top: 9vw;
  }

  .palette div {
    padding-top: 9.3vw;
  }

  .btn {
    margin-bottom: 8rem;
  }
}
@media screen and (min-width: 1880px) {
  html, body {
    font-size: 130%;
  }
}
/* media query différents viewport */

/*# sourceMappingURL=style.css.map */
