@charset "UTF-8";
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

/* Partie général */
/* variables */
/* box-shadow */
/* couleur note*/
/* couleur chic */
/* couleur delice */
/* couleur palette */
/* couleur header, footer et .btn */
/* size */
/* Variables */
/* mixins */
/* Partie générale utilisation des mixins dans plusieurs, page principale et autres */
/* page principal */
/* Autres pages */
/* Mixins*/
/* header */
header {
  background-color: #569d88;
  height: auto;
  margin-top: 0;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
header a {
  text-decoration: none;
}
header .heading {
  margin: 0;
  color: #fdcc44;
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  letter-spacing: -0.15rem;
}

/* Partie header */
/* footer */
footer {
  background-color: #569d88;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
footer a {
  text-decoration: none;
  margin: auto 1rem;
}
footer a:hover {
  animation: effet_wiggle 100ms ease-in-out 3;
}
footer h3 {
  font-family: "Montserrat", sans-serif;
  color: #fdcc44;
  font-size: 1.2rem;
  font-weight: 500;
}

@keyframes effet_wiggle {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(-5%, 5%);
  }
  25% {
    transform: translate(5%, -5%);
  }
  50% {
    transform: translate(-5%, 5%);
  }
  75% {
    transform: translate(-5%, -5%);
  }
  95% {
    transform: translate(-5%, -5%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
/* Partie footer */
/* button */
.btn {
  width: 70vw;
  height: 7vh;
  line-height: 7vh;
  margin: 2.5rem auto 8rem auto;
  border-radius: 0.9rem;
  background-color: #569d88;
}
.btn h2 {
  padding-left: 15vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #fdcc44;
  font-size: 1.7rem;
}
.btn h2:after {
  display: inline-block;
  animation: load steps(1, end) 1s infinite;
  content: "";
}

@keyframes load {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}
/* Bouton */
/* page principal */
.note, .chic, .delice, .palette {
  /* Structure de base des articles dans la page index */
  width: 80vw;
  height: 60vh;
  box-shadow: 0rem 0rem 0.5rem #b6b2b2;
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
}
.note div, .chic div, .delice div, .palette div {
  padding-top: 18vh;
}

.note {
  background-color: #fce0dc;
  font-family: "Devonshire", sans-serif;
  font-size: 1.5rem;
}
.note div {
  padding-top: 13vh;
}
.note h2 {
  color: #390a10;
  font-weight: normal;
}
.note h2 .fa-music {
  background: linear-gradient(to left, #f7906a, #f14c5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note h2 span {
  background-color: #390a10;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  display: block;
  padding: 2rem;
  font-weight: bold;
}

.chic {
  background-color: #fff5fe;
  font-family: "Croissant One", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}
.chic h2 {
  background: linear-gradient(to left, #915afd, #d9862a);
  /* Effet dégradé pour la page index et les autres pages */
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic h2 span {
  background: #d9862a;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  display: block;
  padding: 2rem;
  font-family: serif;
  font-weight: bold;
}

.delice {
  background-color: #f9f9f9;
  font-family: "Dancing Script", sans-serif;
}
.delice h2 {
  background: linear-gradient(to right, #113de1, #0188fb);
  /* Effet dégradé pour la page index et les autres pages */
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5rem;
  font-weight: 700;
}
.delice h2 span {
  background: #0188fb;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  display: block;
  padding: 2rem;
}

.palette {
  background-color: #fdfffd;
  font-family: "Kaushan Script", sans-serif;
  font-size: 2rem;
}
.palette h2 {
  background: linear-gradient(to left, #c0ff7f, #3a9436);
  /* Effet dégradé pour la page index et les autres pages */
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.palette h2 span {
  background: #3a9436;
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  display: block;
  padding: 2rem;
}

.index_bloc_a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  /* (Page principale) animation zoom avec le hover */
  transition: all 1000ms;
}
.index_bloc_a:hover {
  transform: scale(1.2);
  opacity: 0.7;
}

/* page principal */
/* la note enchantee */
.note_title__heading {
  /* Premier titre h2 */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.note_menu {
  font-family: "Devonshire", sans-serif;
  background-color: #fce0dc;
  color: #390a10;
  /* Structure de base de la section */
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
}
.note_menu__article {
  /* Structure de base des articles */
  width: 80vw;
  margin: auto;
  text-align: center;
}
.note_menu__article h2 {
  text-align: center;
  font-weight: lighter;
  font-size: 3rem;
}
.note_menu__article h2 .fa-music {
  background: linear-gradient(to left, #f7906a, #f14c5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.note_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.note_menu__article div h3 {
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  position: relative;
}
.note_menu__article div h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.3s ease-in-out;
}
.note_menu__article div h3:hover::after {
  transform: scaleX(1);
}
.note_menu__article div h3::after {
  background: #390a10;
}
.note_menu__article .title_and_icon {
  width: auto;
  text-align: center;
  font-family: "Devonshire", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.note_menu__article .title_and_icon .fa-music {
  background: linear-gradient(to left, #f7906a, #f14c5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.note_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.note_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.note_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.note_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.note_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.note_menu__article--second_title_h2 {
  /* Deuxième titre h2 */
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page la note enchentee */
/* Le chic à la française */
.chic_title__heading {
  /* Premier titre h2 */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.chic_menu {
  font-family: "Croissant One", sans-serif;
  background-color: #fff5fe;
  /* Structure de base de la section */
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
}
.chic_menu__article {
  /* Structure de base des articles */
  width: 80vw;
  margin: auto;
  text-align: center;
}
.chic_menu__article h2 {
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(to left, #915afd, #d9862a);
  /* Effet dégradé pour la page index et les autres pages */
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chic_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.chic_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.chic_menu__article div h3 {
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  position: relative;
}
.chic_menu__article div h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.3s ease-in-out;
}
.chic_menu__article div h3:hover::after {
  transform: scaleX(1);
}
.chic_menu__article div h3 {
  font-family: serif;
}
.chic_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.chic_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.chic_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.chic_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.chic_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.chic_menu__article .liste p {
  font-family: serif;
}
.chic_menu__article--one {
  color: #d9862a;
}
.chic_menu__article--one div h3::after {
  background: #d9862a;
}
.chic_menu__article--two {
  color: #a6679a;
}
.chic_menu__article--two div h3::after {
  background: #a6679a;
}
.chic_menu__article--three {
  color: #915afd;
}
.chic_menu__article--three div h3::after {
  background: #915afd;
}
.chic_menu__article--second_title_h2 {
  /* Deuxième titre h2 */
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page le chic à la française */
/* Le delice des papilles */
.delice_title__heading {
  /* Premier titre h2 */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.delice_menu {
  font-family: "Dancing Script", sans-serif;
  background-color: #eef0f0;
  /* Structure de base de la section */
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
}
.delice_menu__article {
  /* Structure de base des articles */
  width: 80vw;
  margin: auto;
  text-align: center;
}
.delice_menu__article h2 {
  font-size: 4rem;
  background: linear-gradient(to right, #113de1, #0188fb);
  /* Effet dégradé pour la page index et les autres pages */
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.delice_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.delice_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.delice_menu__article div h3 {
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  position: relative;
}
.delice_menu__article div h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.3s ease-in-out;
}
.delice_menu__article div h3:hover::after {
  transform: scaleX(1);
}
.delice_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.delice_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.delice_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.delice_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.delice_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.delice_menu__article p {
  font-size: 1rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.delice_menu__article--second_title_h2 {
  /* Deuxième titre h2 */
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page le délice des papilles */
/* palette du gout */
.palette_title__heading {
  /* Premier titre h2 */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.palette_menu {
  font-family: "Kaushan Script", sans-serif;
  background-color: #fdfffd;
  /* Structure de base de la section */
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
}
.palette_menu__article {
  /* Structure de base des articles */
  width: 80vw;
  margin: auto;
  text-align: center;
}
.palette_menu__article h2 {
  background: linear-gradient(to left, #c0ff7f, #3a9436);
  /* Effet dégradé pour la page index et les autres pages */
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 4rem;
  margin: 0rem;
}
.palette_menu__article div {
  /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.palette_menu__article div img {
  margin-top: auto;
  margin-bottom: auto;
  width: 23vw;
  height: 4.8vw;
}
.palette_menu__article div h3 {
  font-size: 1.7rem;
  font-family: "segoe Print", "Kalam", sans-serif;
  position: relative;
}
.palette_menu__article div h3::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: black;
  transform: scaleX(0);
  transform-origin: 0 0;
  transition: 0.3s ease-in-out;
}
.palette_menu__article div h3:hover::after {
  transform: scaleX(1);
}
.palette_menu__article .liste {
  /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
}
.palette_menu__article .liste p {
  font-size: 1.3rem;
  font-family: "Segoe Print", "kalam", sans-serif;
}
.palette_menu__article .liste li {
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}
.palette_menu__article .liste li .content {
  flex: 6;
  text-align: left;
}
.palette_menu__article .liste li .price {
  flex: 1;
  text-align: right;
  font-weight: bold;
}
.palette_menu__article--second_title_h2 {
  /* Deuxième titre h2 */
  padding-top: 2rem;
  padding-bottom: 1rem;
}

/* page la palette du goût */
/* Mentions Légales */
.mention {
  margin: 3rem auto 10rem auto;
  width: 90vw;
  background: #dddddd;
  margin-bottom: 10rem;
}
.mention .heading {
  padding-top: 2rem;
  color: #fdcc44;
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 1px 1px #569d88;
}
.mention article h2 {
  font-size: 2rem;
  padding: 0.7rem;
  color: #569d88;
}
.mention article h3 {
  font-size: 1.5rem;
  padding: 0.7rem;
  color: #569d88;
}
.mention article p {
  font-size: 1rem;
  text-align: justify;
  padding: 1rem;
}
.mention article li {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.mention .bold {
  font-weight: bold;
  text-align: left;
}

/* Mentions Légales */
/* Media Query */
/* tablette */
@media screen and (min-width: 768px) {
  html, body {
    font-size: 70%;
  }

  .note_chic, .delice_palette {
    display: flex;
    margin-top: 3rem;
  }

  .note, .chic, .delice, .palette {
    width: 43vw;
    height: 50vh;
  }

  .note_menu__article div h3, .chic_menu__article div h3, .palette_menu__article div h3, .delice_menu__article div h3 {
    padding: 0;
  }
  .note_menu__article div img, .chic_menu__article div img, .palette_menu__article div img, .delice_menu__article div img {
    width: 25vw;
  }

  .btn {
    width: 50vw;
    margin-bottom: 11rem;
    height: 7vh;
    line-height: 7vh;
  }
  .btn h2 {
    padding-left: 15vw;
  }
}
/* Laptop à partir de 1024px */
@media screen and (min-width: 1024px) {
  .note_chic, .delice_palette {
    display: flex;
    margin: 3rem auto;
    width: 70vw;
  }

  .note, .chic, .delice, .palette {
    width: 30vw;
    height: 60vh;
  }

  .chic div, .delice div {
    padding-top: 20vh;
  }

  .palette div {
    padding-top: 21vh;
  }

  .btn {
    margin-bottom: 8rem;
    height: 8vh;
    line-height: 8vh;
    width: 33vw;
  }
  .btn h2 {
    padding-left: 9vw;
  }
}
/* Laptop à partir de 1440 px */
@media screen and (min-width: 1440px) {
  html, body {
    font-size: 100%;
  }

  .note, .chic, .delice, .palette {
    height: 70vh;
  }
}
/* Laptop à partir de 1880px */
@media screen and (min-width: 1880px) {
  html, body {
    font-size: 120%;
  }

  .note, .chic, .delice, .palette {
    width: 30vw;
    height: 80vh;
  }

  .note div {
    padding-top: 22vh;
  }

  .chic div, .delice div {
    padding-top: 27vh;
  }

  .palette div {
    padding-top: 29vh;
  }

  .btn {
    height: 9vh;
  }
  .btn h2 {
    padding-left: 9vw;
  }
}
/* media query différents viewport */

/*# sourceMappingURL=style.css.map */
