/* général */

html,
body {
  font-size: 16px;
  margin: 0;
}

@import "utils/variables";
@import "utils/mixins";
@import "layouts/header";
@import "layouts/footer";
@import "components/buttons";

/* page principal */

.note, .chic, .delice, .palette {
  @include base_index_article;
}

.note{
  background-color: $color_note_fond;
  font-family: 'Devonshire', sans-serif;
  font-size: 1rem;
  h2{
    color: rgb(66, 34, 34);
    font-weight: normal;
    span{
      font-family: 'Segoe Print','kalam', sans-serif;
      font-weight: bolder;
    }
  }
}


.chic{
  background-color: $color_chic_fond;
  font-family: 'Croissant One', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  h2{
    padding: 0.2rem;
    font-weight: normal;
    background: linear-gradient(to left, $color_chic_font_secondary, $color_chic_font_primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    span{
      color: $color_chic_font_primary;
      font-family: serif;
      font-weight: bolder;
    }
  }
}

.delice{
  background-color: $color_delice_fond;
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.1rem;
  h2{
    padding: 0.2rem;
    font-weight: normal;
    background: linear-gradient(to right, $color_delice_font_secondary, $color_delice_font_primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    span{
      color: $color_delice_font_primary;
      font-family: 'Segoe Print','kalam', sans-serif;
      font-weight: normal;
    }
  }
}

.palette{
  background-color: $color_palette_fond;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 1rem;
  h2{
    padding: 0.2rem;
    font-weight: normal;
    background: linear-gradient(to left, $color_palette_font_secondary, $color_palette_font_primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: normal;
    span{
      color: $color_palette_font_primary;
      font-family: 'Segoe Print','kalam', sans-serif;
      font-weight: normal;
    }
  }
}
  

.index_bloc_a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;

}



/* pages menus */
li {
  list-style: none;
}

p {
  text-align: left;
}

.price p {
  text-align: right;
}



.liste {
  display: flex;
  justify-content: space-between;
}
/* la note enchantee */

.note_title {
  &__heading {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-align: center;
  }
}

.note_menu {
  font-family: "Devonshire", sans-serif;
  background-color: $color_note_fond;
  width: 70vw;
  margin: 1rem auto;
  font-weight: normal;
  &__article {
    width: 60vw;
    margin: auto;
    h2{
      text-align: center;
    }
    h3{
      text-align: center;
      font-size: 1rem;
      font-family: 'segoe Print';
    }
    p{
      font-size: 0.6rem;
      font-family: 'segoe Print';
    }
  }
}

/* Le chic à la française */

.chic_title {
  &__heading {
    font-family: Arial,  sans-serif;
    text-align: center;
  }
}

.chic_menu {
  font-family: "Croissant One", sans-serif;
  background-color: $color_chic_fond;
  width: 70vw;
  margin: 1rem auto;
  font-weight: normal;
  &__article {
    width: 60vw;
    margin: auto;
    h2{
      text-align: center;
    }
    h3{
      text-align: center;
      font-size: 1rem;
      font-family: "Croissant One", sans-serif;
    }
    p{
      font-size: 0.6rem;
      font-family: "Croissant One", sans-serif;
    }
  }
}

/* Le delice des papilles */

.delice_title {
  &__heading {
    font-family: Arial,  sans-serif;
    text-align: center;
  }
}

.delice_menu {
  font-family: "Dancing Script", sans-serif;
  background-color: $color_delice_fond;
  width: 70vw;
  margin: 1rem auto;
  font-weight: normal;
  &__article {
    width: 60vw;
    margin: auto;
    h2{
      text-align: center;
    }
    h3{
      text-align: center;
      font-size: 1rem;
      font-family: 'Segoe Print','Kalam', sans-serif;
    }
    p{
      font-size: 0.8rem;
      font-family: 'Segoe Print','kalam', sans-serif;
    }
  }
}


/* palette du gout */

.palette_title {
  &__heading {
    font-family: Arial,  sans-serif;
    text-align: center;
  }
}

.palette_menu {
  font-family: "Devonshire", sans-serif;
  background-color: $color_palette_fond;
  width: 70vw;
  margin: 1rem auto;
  &__article {
    width: 60vw;
    margin: 2rem auto 3rem auto;
    h2{
      text-align: center;
    }
    h3{
      text-align: center;
      font-size: 1rem;
      font-family: 'segoe Print';
    }
    p{
      font-size: 0.6rem;
      font-family: 'segoe Print';
    }
  }
}