/* général */

html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

@import "utils/variables";
@import "utils/mixins";
@import "layouts/header";
@import "layouts/footer";
@import "components/buttons";

/* page principal */

.note, .chic, .delice, .palette {
  @include base_index_article;
}

.note {
  background-color: $color_note_fond;
  font-family: "Devonshire", sans-serif;
  font-size: 1rem;
  div{
    padding-top: 13vh;
  }

  h2 {
    color: $color_note_font;
    font-weight: normal;

    .fa-music {
      background: linear-gradient(
        to left,
        $color_note_icon_secondary,
        $color_note_icon_primary
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    span {
      background-color: $color_note_font;
      @include span_webkit_note_chic_palette;
      font-weight: bold;
    }
  }
}

.chic {
  background-color: $color_chic_fond;
  font-family: "Croissant One", sans-serif;
  font-weight: normal;

  h2 {
    background: linear-gradient(
      to left,
      $color_chic_font_secondary,
      $color_chic_font_primary
    );
    @include index_h2_degrade;
    span {
      background: $color_chic_font_primary;
      @include span_webkit_note_chic_palette;
      font-family: serif;
      font-weight: bold;
    }
  }
}

.delice {
  background-color: $color_delice_fond;
  font-family: "Dancing Script", sans-serif;

  h2 {
    background: linear-gradient(
      to right,
      $color_delice_font_secondary,
      $color_delice_font_primary
    );
    @include index_h2_degrade;
    font-size: 1.8rem;
    font-weight: 700;
    span {
      background: $color_delice_font_primary;
      @include span_webkit_note_chic_palette;
    }
  }
}

.palette {
  background-color: $color_palette_fond;
  font-family: "Kaushan Script", sans-serif;

  h2 {
    background: linear-gradient(
      to left,
      $color_palette_font_secondary,
      $color_palette_font_primary
    );
    @include index_h2_degrade;
    span {
      background: $color_palette_font_primary;
      @include span_webkit_note_chic_palette;
    }
  }
}

.index_bloc_a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  @include zoom_and_opacity_hover;
}

/* pages menus */

.menu_article_title {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

li {
  list-style: none;
  margin-left: 0;
}

p {
  text-align: left;
}

.price p {
  text-align: right;
  font-weight: bold;
}

.liste {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
/* la note enchantee */

.note_title {
  &__heading {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-align: center;
  }
}

.note_menu {
  font-family: "Devonshire", sans-serif;
  background-color: $color_note_fond;
  color: $color_note_font;
  width: 80vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
  padding: 2rem auto;
  &__article {
    width: 65vw;
    margin: auto;
    h2 {
      text-align: center;
      font-weight: lighter;
      font-size: 2rem;
      padding: 3rem auto;
      .fa-music {
        background: linear-gradient(
          to left,
          $color_note_icon_secondary,
          $color_note_icon_primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      font-family: "segoe Print";
    }
    .title_and_icon {
      font-family: "Devonshire", sans-serif;
      font-weight: lighter;
      font-size: 1.7rem;
      .fa-music {
        background: linear-gradient(
          to left,
          $color_note_icon_secondary,
          $color_note_icon_primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    p {
      //margin-left: -2rem;
      font-size: 0.8rem;
      font-family: "segoe Print";
    }
  }
}

/* Le chic à la française */

.chic_title {
  &__heading {
    font-family: Arial, sans-serif;
    text-align: center;
  }
}

.chic_menu {
  font-family: "Croissant One", sans-serif;
  background-color: $color_chic_fond;
  width: 80vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: lighter;
  &__article {
    width: 70vw;
    margin: auto;

    h2 {
      background: linear-gradient(
        to left,
        $color_chic_font_secondary,
        $color_chic_font_primary
      );
      @include index_h2_degrade;
      text-align: center;
    }
    h3 {
      text-align: center;
      font-size: 1.5rem;
      font-family: serif;
    }

    p {
      font-size: 1.3rem;
      font-family: serif;
    }

    &--one {
      color: $color_chic_font_primary;
    }
    &--two {
      color: $color_chic_font_plaisir_des_papilles;
    }
    &--three {
      color: $color_chic_font_secondary;
    }
  }
}

/* Le delice des papilles */

.delice_title {
  &__heading {
    font-family: Arial, sans-serif;
    text-align: center;
  }
}

.delice_menu {
  font-family: "Dancing Script", sans-serif;
  background-color: $color_delice_fond;
  width: 80vw;
  height: 90vh;
  margin: 1rem auto 10rem auto;
  font-weight: lighter;
  &__article {
    width: 70vw;
    margin: auto;
    h2 {
      font-size: 4rem;
      background: linear-gradient(
        to right,
        $color_delice_font_secondary,
        $color_delice_font_primary
      );
      @include index_h2_degrade;
      text-align: center;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      font-family: "Segoe Print", "Kalam", sans-serif;
    }
    p {
      font-size: 1rem;
      font-family: "Segoe Print", "kalam", sans-serif;
    }
  }
}

/* palette du gout */

.palette_title {
  &__heading {
    font-family: Arial, sans-serif;
    text-align: center;
  }
}

.palette_menu {
  font-family: "Kaushan Script", sans-serif;
  background-color: $color_palette_fond;
  width: 80vw;
  height: 90vh;
  margin: 1rem auto 10rem auto;
  &__article {
    width: 70vw;
    margin: 2rem auto 3rem auto;
    h2 {
      background: linear-gradient(
        to left,
        $color_palette_font_secondary,
        $color_palette_font_primary
      );
      @include index_h2_degrade;
      text-align: center;
      font-size: 4rem;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      font-family: "segoe Print";
    }
    p {
      font-size: 1rem;
      font-family: "segoe Print";
    }
  }
}

/* tablette */

@media screen and (min-width:768px){
  html,body{
    font-size: 100%;
  }
  .note{
    div{
      padding-top: 9vh;
    }
  }
  .chic, .delice, .palette{
    div{
      padding-top: 13vh;
    }
  }
}

/* Laptop à partir de 1440px/L */

@media screen and (min-width: 1440px){
  .note_chic, .delice_palette{
    margin-top: 3rem;
    display: flex;
    margin: 3rem auto ;
  width: 60vw;
  }
  .note, .chic, .delice, .palette{
    width: 25vw;
    height:70vh ;
  }
  .note{
    div{
      padding-top: 20vh;
    }
  }
  .chic, .delice, .palette{
    div{
      padding-top: 22vh;
    }
  }
}