/* Le chic à la française */

.chic_title {
  &__heading {
    @include article_frist_title_h2;
  }
}

.chic_menu {
  font-family: "Croissant One", sans-serif;
  background-color: $color_chic_fond;
  @include base_section_menu;
  &__article {
    @include base_article;
    h2 {
      font-size: 3rem;
      text-align: center;
      background: linear-gradient(
        to left,
        $color_chic_font_secondary,
        $color_chic_font_primary
      );
      @include h2_degrade;
    }
    div{

      @include div_h3_trait;
      h3{
        font-family: serif;
      }
    }
    
    .liste{
      @include liste;
      p{
        font-family: serif;
      }
  }

    &--one {
      color: $color_chic_font_primary;
      div{
        h3::after{
          background: $color_chic_font_primary;
        }
      }
    }
    &--two {
      color: $color_chic_font_plaisir_des_papilles;
      div{
        h3::after{
          background: $color_chic_font_plaisir_des_papilles;
        }
      }
    }
    &--three {
      color: $color_chic_font_secondary;
      div{
        h3::after{
          background: $color_chic_font_secondary;
        }
      }
    }
    &--second_title_h2{
      @include article_second_title_h2;
    }
  }
}