/* Le chic à la française */

.chic_title {
  &__heading {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    text-align: center;
    font-size: 2rem;
  }
}

.chic_menu {
  font-family: "Croissant One", sans-serif;
  background-color: $color_chic_fond;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
  &__article {
    width: 80vw;
    margin: auto;
    h2 {
      font-size: 3rem;
      text-align: center;
      background: linear-gradient(
        to left,
        $color_chic_font_secondary,
        $color_chic_font_primary
      );
      @include index_h2_degrade;
    }
    div{
      @include div_h3_trait;
    }
    
    .liste{
      @include liste;
  }

  div h3,.liste p {
      font-family: serif;
    }

    &--one {
      color: $color_chic_font_primary;
    }
    &--two {
      color: $color_chic_font_plaisir_des_papilles;
    }
    &--three {
      color: $color_chic_font_secondary;
    }
    &--title{
      @include article_title;
    }
  }
}