/* Le delice des papilles */

.delice_title {
  &__heading {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
  }
}

.delice_menu {
  font-family: "Dancing Script", sans-serif;
  background-color: $color_delice_fond_menu;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: lighter;
  &__article {
    width: 80vw;
    margin: auto;
    h2 {
      font-size: 4rem;
      background: linear-gradient(
        to right,
        $color_delice_font_secondary,
        $color_delice_font_primary
      );
      @include index_h2_degrade;
      text-align: center;
    }
    div{
      @include div_h3_trait;
    }
    
    .liste{
      @include liste;
  }
    p {
      font-size: 1rem;
      font-family: "Segoe Print", "kalam", sans-serif;
    }
    &--title{
      @include article_title;
    }
  }
}