/* Le delice des papilles */

.delice_title {
  &__heading {
    @include article_frist_title_h2;
  }
}

.delice_menu {
  font-family: "Dancing Script", sans-serif;
  background-color: $color_delice_fond_menu;
  @include base_section_menu;
  &__article {
    @include base_article;
    h2 {
      font-size: 4rem;
      background: linear-gradient(
        to right,
        $color_delice_font_secondary,
        $color_delice_font_primary
      );
      @include h2_degrade;
     
    }
    div{
      @include div_h3_trait;
    }
    
    .liste{
      @include liste;
  }
    p {
      font-size: 1rem;
      font-family: "Segoe Print", "kalam", sans-serif;
    }
    &--second_title_h2{
      @include article_second_title_h2;
    }
  }
}