/* Media Query */



/* tablette */

@media screen and (min-width:768px){
  html,body{
    font-size:70%;
  }
  .note_chic, .delice_palette{
    display: flex;
    margin-top: 3rem;
  }
  .note, .chic, .delice, .palette{
    width: 43vw;
    height: 50vh;
  }
  
  .note_menu, .chic_menu, .palette_menu, .delice_menu{
    &__article{
      div{
        h3{
          padding: 0;
        }
        img{
          width: 25vw;
        }
      }
    }
  }

  .btn{
    width: 50vw;
    margin-bottom: 11rem;
    height: 7vh;
    line-height: 7vh;
    h2{
      padding-left: 100vw * 0.15;
    }
  }
}


/* Laptop à partir de 1024px */

@media screen and (min-width: 1024px){

  .note_chic, .delice_palette{
    display: flex;
    margin: 3rem auto ;
    width: 70vw;
  }
  .note, .chic, .delice, .palette{
    width: $size;
    height: 60vh;
  }
 
  .chic, .delice {
    div{
      padding-top: 20vh;
    }
  }
  .palette{
    div{
      padding-top: 21vh;
    }
  }
  .btn{
    margin-bottom: 8rem;
    height: 8vh;
    line-height: 8vh;
    width: 33vw;
    h2{
      padding-left: 100vw * 0.09;
    }
  }
}

/* Laptop à partir de 1440 px */

@media screen and (min-width: 1440px){
  html,body{
    font-size: 100%;
  }
  .note, .chic, .delice, .palette{
    height: 70vh;
  }
}


/* Laptop à partir de 1880px */
@media screen and (min-width: 1880px){
  html, body{
    font-size: 120%;
  }
  .note, .chic, .delice, .palette{
    width: 30vw;
    height: 80vh;
  }
  
  .note {
    div{
      padding-top: 22vh;
    }
  }
  .chic, .delice {
    div{
      padding-top: 27vh;
    }
  }
  .palette{
    div{
      padding-top: 29vh;
    }
  }

  .btn{
    height: 9vh;
    h2{
      padding-left: 100vw * 0.09;
    }
  }
}