/* tablette */

@media screen and (min-width:768px){
  html,body{
    font-size:80%;
  }
  .note_chic, .delice_palette{
    display: flex;
  }
  .note, .chic, .delice, .palette{
    width: 43vw;
    height:$size * 2 ;
  }
  .note{
    div{
      padding-top: 5vh;
    }
  }
  .chic, .delice, .palette{
    div{
    padding-top: 15vh;
    
  }
  }
  .note_menu, .chic_menu, .palette_menu, .delice_menu{
    &__article{
      div{
        h3{
          padding: 0;
        }
        img{
          width: 25vw;
        }
      }
    }
  }

  .btn{
    margin-bottom: 11rem;
    height: 7vh;
    line-height: 7vh;
  }
}


/* Laptop à partir de 1440px/L */

@media screen and (min-width: 1440px){
  html,body{
    font-size: 100%;
  }
  .note_chic, .delice_palette{
    margin-top: 3rem;
    display: flex;
    margin: 3rem auto ;
    width: 70vw;
  }
  .note, .chic, .delice, .palette{
    width: $size;
    height:$size * 1.2 ;
  }
  .note{
    div{
      padding-top: $size * 0.2;
    }
  }
  .chic {
    div{
      padding-top: $size* 0.4;
    }
  }
  .delice{
    div{
      padding-top: $size * 0.3;
    }
  }
  .palette{
    div{
      padding-top: $size * 0.31;
    }
  }
  .btn{
    margin-bottom: 8rem;
    height: 8vh;
    line-height: 8vh;
  }
}

/* Laptop à partir de 1880 px */

@media screen and (min-width: 1880px){
  html, body{
    font-size: 130%;
  }
}