/* la note enchantee */

/* Section Premier titre */
.note_title {
  &__heading {
    @include article_frist_title_h2;
  }
}

/* Section Carte*/
.note_menu {
  font-family: "Devonshire", sans-serif;
  background-color: $color_note_fond;
  color: $color_note_font;
  @include base_section_menu;  
  &__article {
    @include base_article; 
    h2 {
      text-align: center;
      font-weight: lighter;
      font-size: 3rem;
      .fa-music { /* icon */
        background: linear-gradient(
          to left,
          $color_note_icon_secondary,
          $color_note_icon_primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    div{ /* Div qui comprend les titres des plats avec l'effet de soulignement */
      @include div_h3_trait;
      h3::after{
        background: $color_note_font;
      }
    }
    
    .title_and_icon {
      width: auto;
      text-align: center;
      font-family: "Devonshire", sans-serif;
      font-weight: lighter;
      font-size: 2rem;
      padding-bottom: 1rem;
      .fa-music {
        background: linear-gradient(
          to left,
          $color_note_icon_secondary,
          $color_note_icon_primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .liste{
      @include liste;
  }

  &--second_title_h2{/*Titre dans la carte */
    @include article_second_title_h2;
  }
  }
}
