/* la note enchantee */

.note_title {
  &__heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
  }
}

.note_menu {
  font-family: "Devonshire", sans-serif;
  background-color: $color_note_fond;
  color: $color_note_font;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
  &__article {
    width: 80vw;
    margin: auto;
    h2 {
      text-align: center;
      font-weight: lighter;
      font-size: 3rem;
      .fa-music {
        background: linear-gradient(
          to left,
          $color_note_icon_secondary,
          $color_note_icon_primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    div{
      @include div_h3_trait;
    }
    
    .title_and_icon {
      width: auto;
      text-align: center;
      font-family: "Devonshire", sans-serif;
      font-weight: lighter;
      font-size: 2rem;
      padding-bottom: 1rem;
      .fa-music {
        background: linear-gradient(
          to left,
          $color_note_icon_secondary,
          $color_note_icon_primary
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .liste{
      @include liste;
  }

    &--title{
      @include article_title;
    }
  }
}
