/* palette du gout */

.palette_title {
  &__heading {
   @include article_frist_title_h2;
  }
}

.palette_menu {
  font-family: "Kaushan Script", sans-serif;
  background-color: $color_palette_fond;
  @include base_section_menu;
  &__article {
   @include base_article;
    h2 {
      background: linear-gradient(
        to left,
        $color_palette_font_secondary,
        $color_palette_font_primary
      );
      @include h2_degrade;
      text-align: center;
      font-size: 4rem;
      margin: 0rem;
      
    }
    div{
      @include div_h3_trait;
     
    }
    .liste{
        @include liste;
    }
    &--second_title_h2{
      @include article_second_title_h2;
    }
  }
}