/* palette du gout */

.palette_title {
  &__heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
  }
}

.palette_menu {
  font-family: "Kaushan Script", sans-serif;
  background-color: $color_palette_fond;
  width: 90vw;
  height: auto;
  margin: 1rem auto 10rem auto;
  font-weight: normal;
  &__article {
    width: 80vw;
    margin: auto;
    h2 {
      background: linear-gradient(
        to left,
        $color_palette_font_secondary,
        $color_palette_font_primary
      );
      @include index_h2_degrade;
      text-align: center;
      font-size: 4rem;
      margin: 0rem;
      
    }
    div{
      @include div_h3_trait;
    }
    .liste{
        @include liste;
    }
    &--title{
        @include article_title;
    }
  }
}