/* mixins */

/* page principal*/

@mixin base_index_article {
  width: 80vw;
  height: 50vh;
  box-shadow: 0rem 0rem 0.5rem $color-box-shadow;
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
  div{
    padding-top: 17vh;
  }
}

@mixin span_webkit_note_chic_palette {
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 1.7rem;
  font-weight: lighter;
}
@mixin span_font-size {
  font-size: 2rem;
}

@mixin index_h2_degrade {
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* animation zoom avec le hover */

@mixin zoom_and_opacity_hover {
  transition: all 1000ms;
  &:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

/* autres pages */
