/* mixins */

/* page principal*/

@mixin base_index_article {
  width: 80vw;
  height:50vw * 2 ;
  box-shadow: 0rem 0rem 0.5rem $color-box-shadow;
  margin: 1rem auto;
  font-size: 1rem;
  text-align: center;
  div{
    padding-top: 17vh;
  }
}

@mixin span_webkit_note_chic_palette {
  /* Permet de choisir une autre couleur pour le mot menu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Segoe Print", "kalam", sans-serif;
  font-size: 4rem;
  font-weight: lighter;
  padding-top: 1rem;
}

@mixin span_font-size {
  font-size: 2rem;
}

@mixin index_h2_degrade {
  padding: 0.2rem;
  font-weight: lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* animation zoom avec le hover */

@mixin zoom_and_opacity_hover {
  transition: all 1000ms;
  &:hover {
    transform: scale(1.2);
    opacity: 0.7;
  }
}

/* autres pages */

@mixin article_title {
  padding-top: 2rem;
  padding-bottom: 1rem;
} 


@mixin liste { /* liste contenu dans les articles (paragraphe et prix) */
  padding-left: 0;
  p {
    font-size: 1.3rem;
    font-family: "Segoe Print", "kalam", sans-serif;
  }
  li{
    display: flex;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    list-style: none;

    .content{
      flex: 6;
      text-align: left;
    }
    .price{
    flex: 1;
    text-align: right;
    font-weight: bold;
  }
 }
}

@mixin div_h3_trait { /* div contenant les h3 (entree, plat et dessert) avec les traits*/
  display: flex;
      margin-left: auto;
      margin-right: auto;
      img{
        margin-top:auto;
        margin-bottom: auto;
        width: 23vw;
        height: 30vw * 0.16;
        
      }
      h3 {
        width: 30vw;
        text-align: center;
        font-size: 1.7rem;
        font-family: "segoe Print", "Kalam", sans-serif;
        padding: 0 1rem 1rem 1rem;
      
      }
}
 