/* variables */

/* box-shadow */
$color-box-shadow: rgb(182, 178, 178);

/* couleur note*/
$color_note_fond: #fce0dc;
$color_note_icon_primary: #f14c5e;
$color_note_icon_secondary: #f7906a;
$color_note_font: #390a10;

/* couleur chic */ 
$color_chic_fond: #fff5fe;
$color_chic_font_primary: #d9862a;
$color_chic_font_secondary: #915afd;
$color_chic_font_plaisir_des_papilles:#a6679a;

/* couleur delice */
$color_delice_fond: #f9f9f9;
$color_delice_font_primary: #0188fb;
$color_delice_font_secondary: #113de1;

/* couleur palette */
$color_palette_fond: #fdfffd;
$color_palette_font_primary: #3a9436;
$color_palette_font_secondary: #c0ff7f;

/* couleur header, footer et .btn */
$yellow: #fdcc44;
$green:#569d88;


