/* variables */

$color_note_fond: #fce0dc;
$color_note_icon_primary: #f25761;
$color_note_icon_primary: #f7906a;
$color_note_font: #390a10;

$color_chic_fond: #fff5fe;
$color_chic_font_primary: #d9862a;
$color_chic_font_secondary: #915afd;
$color_chic_font_plaisir_des_papilles:#a6679a;

$color_delice_fond: #f9f9f9;
$color_delice_font_primary: #0188fb;
$color_delice_font_secondary: #113de1;

$color_palette_fond: #fdfffd;
$color_palette_font_primary: #3a9436;
$color_palette_font_secondary: #c0ff7f;


$yellow: #fdcc44;
$green:#569d88;


