/* footer */

footer {
  background-color: $green;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  a { /* Lien des h3 */
    text-decoration: none;
    margin: auto 1rem;
    &:hover {
      animation: effet_wiggle 100ms ease-in-out 3;
    }
  }

  h3 {
    font-family: "Montserrat", sans-serif;
    color: $yellow;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

/* Animation */
@keyframes effet_wiggle {
  0%{
    transform: translate(0%,0%);
  }
  10%{
    transform: translate(-5%,5%);
  } 
  25% {
    transform: translate(5%,-5%);
  }
  50%{
    transform: translate(-5%,5%);
  }
  75% {
    transform: translate(-5%,-5%);

  }
  95%{
    transform: translate(-5%,-5%);
  }
  100%{
    transform: translate(0%,0%);
  }
}
